@{
    ViewData["Title"] = "Quadrants";
}

@*bring in list of tasks*@
@model List<TaskAddition>

<h1 style="color: saddlebrown; text-align: center;">Here are the Quadrants!</h1><br /><br />


<div class="container">

    <div class="row">

        @*column 1 - just blank*@
        <div class="col-1"></div>

        @*column 2 - title*@
        <div class="col-5">
            <h1 style="color: darkblue; text-align: center;">Urgent</h1>
        </div>

        @*column 3 - title*@
        <div class="col-5">
            <h1 style="color: darkblue; text-align: center;">Not Urgent</h1>
        </div>

    </div>

    @*divider*@
    <div class="w-100">
        <h1>-------------------------------------------------------------------</h1>
    </div>


    @*Row 2*@
    <div class="row">

        @*column 1 - Title*@
        <div class="col-1">
            <br /><br /><br />
            <h3 style="color: darkblue; display: flex; justify-content: center; transform: rotate(270deg);">Important</h3>
        </div>

        @*column 2 - Q1*@
        <div class="col-6">

            @*table in Q1*@
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>

                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {
                        //make sure it is in the right category
                        @if (x.Quadrant == 1)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>


                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>


                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

        @*column 3 - Q2*@
        <div class="col-5">

            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>

                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {

                        //make sure in correct table
                        @if (x.Quadrant == 2)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>


                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>


                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="w-100">
        <h1>-------------------------------------------------------------------</h1>
    </div>

    @*Row 3*@
    <div class="row">

        @*column 1 Title*@
        <div class="col-1">
            <br /><br /><br />
                  <h3 style="color: darkblue; display: flex; justify-content: center; transform: rotate(270deg);">Not Important</h3>
        </div>

        @*column 2 - Q3*@
        <div class="col-6">

            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>

                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {
                        //checked if values are in Q3
                        @if (x.Quadrant == 3)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>

                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>

                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>

        @*column 3 - Q4*@
        <div class="col-5">

            @*table for Q4*@
            <table class="table table-bordered table-striped">
                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {
                        //checked Q values
                        @if (x.Quadrant == 4)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>

                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
