@{
    ViewData["Title"] = "Quadrants";
}

@*bring in list of tasks*@
@model List<TaskAddition>

<h1 style="color: saddlebrown; text-align: center;">Here are the Quadrants!</h1><br /><br />

@*add some divs to make some quadrants*@
<div class="container">
    @*<div style="position: absolute; left: 0; top: 0; height: 100%; display: flex; align-items: center;">

        <h3 style="color: darkblue; writing-mode: vertical-rl; transform: rotate(180deg); ">Not Important--------
            Important</h3>

    </div>*@

    @*column 1*@
    <div class="row">
        <div class="col">

            <h1 style="color: darkblue; text-align: center;">Urgent - Important</h1>
            @*<h1 style="color: darkblue; text-align: left; margin: 0; transform: rotate(270deg); ">Important</h1>*@
            
            @*table in Q1*@
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>

                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {
                        //make sure it is in the right category
                        @if (x.Quadrant == 1)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>


                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>


                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

        @*Q2*@
        <div class="col">

            <h1 style="color: darkblue; text-align: center;">Not Urgent - Important</h1>
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>

                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {

                        //make sure in correct table
                        @if (x.Quadrant == 2)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>


                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>


                            </tr>
                        }

                    }

                </tbody>


            </table>

        </div>
        <div class="w-100"></div>
        <h1>---------------------------------------------------------------------</h1>
        
        @*Q3*@
        <div class="col">
            <h1 style="color: darkblue; text-align: center;">Urgent - Not Important</h1>
            <table class="table table-bordered table-striped">

                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>

                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {
                        //checked if values are in Q3
                        @if (x.Quadrant == 3)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>

                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>

                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>

        @*Q4*@
        <div class="col">

            <h1 style="color: darkblue; text-align: center;">Not Urgent - Not Important</h1>

            @*table for Q4*@
            <table class="table table-bordered table-striped">
                <thead class="font-weight-bold">
                    <tr>
                        @*head of the table*@
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Category Name</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>

                    @*loop through each item*@
                    @foreach (var x in Model)
                    {
                        //checked Q values
                        @if (x.Quadrant == 4)
                        {
                            <tr>
                                <td>@x.Task</td>
                                <td>@x.DueDate</td>
                                <td>@x.Category.CategoryName</td>
                                <td>@x.Completed</td>

                                @*include links to edit and delete*@
                                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskId">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskId">Delete</a></td>

                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>


